@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;





:root {
  font-family: 'Nunito', Avenir, Helvetica, Arial, sans-serif !important;

}

*{
  -webkit-tap-highlight-color: transparent;
  
}
body{
  overflow-x: hidden;
}
